


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilodocumento*/
html, body {
  height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff; /* fondo claro */
  color: #1b5e20; /* Verde oscuro */
  overflow: hidden;
}

/* Asegura que el root se expanda al 100% */
#root {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Enlaces por defecto */
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}
